# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg

# Environments
.venv/
venv/
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# OS cruft
.DS_Store
Thumbs.db

# PyCharm / IDEA
.idea/
*.iml

# Outputs
out/
